table{
    border-collapse: collapse;
    margin: 30px;
    text-align: center;

}

table:hover{
    cursor: pointer;
}

table,th,td{
    opacity: 1.0;
    border: 1px solid black;
}
td{
    background:grey;
}
td:hover{
    opacity: 0.4;
}

table td{
    width: 30px;
    height:30px;
}
.number-row{
    border-bottom: 3px solid black;
}

.row :first-child{
    border-right: 3px solid black;
}